asgiref
autopep8
cycler
Django
django-cors-headers
djangorestframework
joblib
kiwisolver
matplotlib
mysqlclient
numpy
pandas
Pillow
pycodestyle
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
sqlparse
six
toml
threadpoolctl
