asgiref
autopep8
cycler
Django
django-cors-headers
django-crontab
djangorestframework
greenlet
joblib
kiwisolver
matplotlib
mysqlclient
numpy
pandas
Pillow
psycopg2
pycodestyle
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
SQLAlchemy
sqlparse
threadpoolctl
toml
